:root {
    --banner-color:  rgb(146, 92, 185);
    --banner-font: ivory;
    --main-font: rgb(43, 37, 37);
}

* {
    box-sizing: border-box;
    background-color: rgb(187, 173, 173);
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    padding: 30px;
    background-color: var(--banner-color);
    color: var(--banner-font);
    flex-direction: column;
    align-items: center;
}

header h1 {
    background-color: var(--banner-color);
    margin: 10px;
    font-size: -webkit-xxx-large;
}

header h2 {
    background-color: var(--banner-color);
    margin: 5px;
    font-size: xx-large;
}

nav {
    display: flex;
    justify-content: center;
}

main {
    color: var(--main-font);
}

.mainlinks {
    background-color: var(--banner-color);
}

.mainlinks a {
    color: var(--banner-font);
    background-color: var(--banner-color);
}

main h2 {
    margin: 40px;
    text-align: center;
    color: var(--banner-color);
}

header h2 {
    color: var(--banner-font);
}

.infodetails {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.webpages {
    border: 5px solid var(--banner-color);
    border-radius: 8px;
    padding: 5px;
}

a {
    padding: 15px;
}

footer a {
    color: var(--main-font);
}

#myphoto {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}



/* to remove underline in <a> tag use text-decoration*/ 

