:root {
    --background-color: rgb(148, 130, 130);
    --banner-color:  rgb(105, 64, 134);
    --banner-font: ivory;
    --main-font: rgb(43, 37, 37);
    --bigbox-gradient: linear-gradient(rgb(44, 136, 83), rgb(33, 204, 33));
    --smallbox-gradient: linear-gradient(rgb(105, 68, 68), rgb(197, 159, 159));
}

* {
    box-sizing: border-box;
    background-color: var(--background-color);
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: var(--banner-color);
    color: var(--banner-font);
}

header h1 {
    background-color: var(--banner-color);
    margin: 10px;
    font-size: 80px;
}

header h2 {
    background-color: var(--banner-color);
    margin: 5px;
    font-size: xx-large;
    color: var(--banner-font);
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    font-weight: bold;
}

.mainlinks {
    background-color: var(--banner-color);
}

a {
    padding: 15px;
    text-decoration: none;
}

.mainlinks a {
    color: var(--banner-font);
    background-color: var(--banner-color);
    font-size: x-large;
}

main {
    color: var(--main-font);
}

main h2 {
    margin: 40px;
    text-align: center;
    color: var(--banner-color);
    font-size: xxx-large;
}

.infodetails {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

#myphoto {
    width: 200px;
    height: 225px;
    border: 4px solid var(--banner-font);
    border-radius: 8px;
}

article {
    width: 700px;
    text-align: justify;
    color: var(--banner-font);
}

p {
    margin: 0;
}

#bigbox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 1200px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./screencapture-file-Users-Marina-Desktop-Coding-Group-Projects-National-Parks-and-Forecast-Finder-National-Parks-and-Forecast-Finder-index-html-2021-03-29-12_35_20.png);
    background-size: cover;
    scroll-snap-type: mandatory;
}

#main-project {
    font-size: xx-large;
    background: transparent;
    margin: 25px;
    text-align: center;
}

#main-project a {
    color: rgb(205, 165, 150);
}

#main-project a:hover {
    color: var(--banner-color);
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}

.webpages {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    width: 1000px;
    height: 600px;
    background-image: var(--smallbox-gradient);
    border: 8px solid var(--banner-color);
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    margin: 30px;
}

.project-name {
    text-align: center;
}

.project-name a {
    color: rgb(235, 192, 176);
}

#smallbox1 {
    background-image: url(./screencapture-file-Users-Marina-Desktop-homework-coding-Code-Quiz-index-html-2021-03-08-14_05_44.png);
    background-size: cover;
    background-position: center;
}

#smallbox2 {
    background-image: url(./screencapture-file-Users-Marina-Desktop-homework-coding-Weather-Dashboard-index-html-2021-03-22-17_39_36.png);
    background-size: cover;
    background-position: center;
}

#smallbox3 {
    background-image: url(./screencapture-file-Users-Marina-Desktop-homework-coding-Work-Day-Scheduler-index-html-2021-03-15-14_17_21.png);
    background-size: cover;
    background-position: center;
}

footer a {
    color: var(--main-font);
    font-size: larger;
}

a:hover {
    color: var(--banner-color);
}

a:active {
    color: rgb(18, 18, 190);
}